<!-- Page Content -->
<div class="container main-container contato-posicao">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3">Contato!</h1>
        <p class="lead">Aqui você pode colocar um mapa para informar seu local de trabalho.</p>
    </header>

    <form class="mbr-form">

        <div class="mb-3">

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nome</label>
                <input type="email" class="form-control" id="" placeholder="Joao Gomes Silva">
              </div>
            <label for="exampleFormControlInput2" class="form-label">Email</label>
            <input type="email" class="form-control" id="" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Mensagem</label>
            <textarea class="form-control" id="" rows="3"></textarea>
          </div>

        <span class="input-group-btn">
            <button href="" type="submit" class="btn btn-primary btn-form display-4">Enviar</button>
        </span>
    </form>

</div>
<br> 