<div class="container main-container">

    <div class="row text-center tela-pets">
        
        <div *ngFor="let cat of cats" class="col-md-4" style="padding-bottom: 20px;">


              <mat-card class="example-card estilo-card-cat">
                <mat-card-header>
                  <!-- <div mat-card-avatar class="example-header-image"></div> -->
                  <mat-card-title>{{cat.nome}}</mat-card-title>
                  <mat-card-subtitle>{{cat.genero}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="/assets/Cats/{{cat.img}}" alt="Photo of a Shiba Inu" class="card-img-top" height="200px" width="253px">
                <mat-card-content>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia eligendi adipisci.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <!-- <button mat-raised-button (click)="abrirDialog()">Contato</button> -->
                  <button class="btn btn-outline-primary" (click)="abrirDialog()">Contato</button>
                </mat-card-actions>
              </mat-card>


        </div>

    </div>

</div>