<main>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal">Pets Amigos</h1>
        <p class="lead fw-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio mollitia dolores dignissimos cumque repudiandae sunt.</p>
        <!-- <a class="btn btn-outline-secondary" href="#">Coming soon</a> -->
      </div>
      <!-- <div class="product-device shadow-sm d-none d-md-block"></div> -->
      <img src="/assets/imagem21.jpg" alt="" width="500px" class="product-device shadow-sm d-none d-md-block">
      <img src="/assets/imagem03.jpg" alt="" width="500px" class="product-device product-device-2 shadow-sm d-none d-md-block">
      <!-- <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div> -->
    </div>
  
    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
      <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden imagensHome">
        <div class="my-3 py-3">
          <h2 class="display-5">Conexão</h2>
          <p class="lead">Uma lambida e um abanar de rabo que salva o dia.</p>
        </div>
        <img src="/assets/imagem16.jpg" alt="" class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <!-- <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div> -->
      </div>
      <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Empatia</h2>
          <p class="lead">Vão deixar seu coração cheio de pegadas.</p>
        </div>
        <img src="/assets/imagem12.jpg" alt="" class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <!-- <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div> -->
      </div>
    </div>
  
    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
      <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Amor</h2>
          <p class="lead">Um amor leve, sincero, peludo e que transborda fidelidade.</p>
        </div>
        <img src="/assets/imagem18.jpg" alt="" class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <!-- <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div> -->
      </div>
      <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden imagensHome">
        <div class="my-3 py-3">
          <h2 class="display-5">Cuidado</h2>
          <p class="lead">Cuide deles como você gostaria de ser cuidado.</p>
        </div>
        <img src="/assets/imagem14.jpg" alt="" class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
      </div>
    </div>
  

  </main>