<div class="container main-container tela-pets">

    <div class="row text-center">
        
        <div *ngFor="let dog of dogs" class="col-md-4" style="padding-bottom: 30px;">


          <mat-card class="example-card estilo-card-dog">
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <mat-card-title>{{dog.nome}}</mat-card-title>
              <mat-card-subtitle>{{dog.genero}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/Dogs/{{dog.img}}" alt="Photo of a Shiba Inu" class="card-img-top" height="200px" width="253px">
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia eligendi adipisci.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <!-- <button mat-raised-button (click)="abrirDialog()">Contato</button> -->
              <button class="btn btn-outline-success" (click)="abrirDialog()">Contato</button>
            </mat-card-actions>
          </mat-card>

              
        </div>

    </div>

</div>