
  <div class="container main-container">
    <div class="row text-center">
  
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/imagem07.jpg" height="164px" width="253px" alt="">
          <div class="card-body">
            <h4 class="card-title">Cats</h4>
          </div>
          <div class="card-footer">
            <a [routerLink]="['/lista-cats']"  class="btn btn-primary">Ver Mais</a>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/imagem06.jpg" height="164px" width="253px" alt="">
          <div class="card-body">
            <h4 class="card-title">Dogs</h4>
          </div>
          <div class="card-footer">
            <a [routerLink]="['/lista-dogs']" class="btn btn-primary">Ver Mais</a>
          </div>
        </div>
      </div>
  

  
    </div>
  </div>
